* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

h1 {
  margin: 1rem;
}

h2 {
  font-weight: 500;
}

h3 {
  text-align: center;
}

legend {
  text-align: center;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

header {
  width: 90%;
  font-size: 1.25rem;
  font-weight: 500;
  padding: 1rem 0;
  margin: 0 auto;
  border-bottom: 1px solid #cfc8cf;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header p {
  padding: 0.5rem;
}

.header-link,
.header-link:active {
  text-decoration: none;
}

.heading {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
  margin: 2rem auto;
}

.form {
  width: 80%;
  margin: 0 auto;
}

.form label {
  display: block;
  margin: 0.25rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group input {
  width: 100%;
  font-size: 1.25rem;
  padding: 0.5rem;
  border: 1px solid #cfc8cf;
  border-radius: 5px;
}

.new-account-text {
  font-size: 1.25rem;
  text-align: right;
  width: 80%;
  margin: 1rem auto;
}

.balance {
  width: fit-content;
  min-width: 30%;
  text-align: center;
  line-height: 1.75;
  margin: 1rem auto;
  padding: 1rem;
  border: 1px solid #cfc8cf;
  border-radius: 5px;
  font-weight: 500;
  position: relative;
}

.balance-title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%); /* centered in responsive design*/
  background-color: white;
  font-size: 1rem;
  line-height: 100%;
}

.income-expense {
  display: flex;
  justify-content: space-evenly;
}

.income {
  color: rgb(18, 164, 18);
}

.income-expense-dash {
  color: #cfc8cf;
}

.expense {
  color: rgb(192, 11, 11);
}

.expense-form {
  width: 60%;
  margin: 1.75rem auto;
}

.expense-fieldset {
  padding: 1rem;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  border-color: #cfc8cf;
}

.expense-fieldset legend {
  font-size: 1rem;
  font-weight: 500;
}

.value-date {
  display: flex;
  justify-content: space-between;
}

.value-date input,
.description-input input {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #cfc8cf;
  border-radius: 5px;
  width: 40%;
}

.description-input input {
  width: 100%;
}

.incomes-and-expenses {
  border: 1px solid #cfc8cf;
  border-radius: 5px;
  position: relative;
  padding: 1.5rem;
  width: 70%;
  margin: 0 auto;
}

.incomes-and-expenses-title {
  position: absolute;
  text-align: center;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%); /* centered in responsive design*/
  background-color: white;
  font-size: 1rem;
}

.filter-container {
  text-align: center;
  margin: 0 auto;
  width: fit-content;
}

.filter {
  padding: 0.75rem;
  border-width: 1px;
  border-radius: 5px;
  border-color: #cfc8cf;
  border-style: solid;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.filter-values {
  margin: 0 auto;
  width: fit-content;
  font-size: 1rem;
  padding: 0.5rem;
  margin-top: -0.75rem;
  font-weight: 500;
  border: 1px solid #cfc8cf;
  border-radius: 5px;
}

.filter label {
  padding: 0 0.5rem;
}

.expense-item {
  font-size: 1rem;
  font-weight: 500;
  margin: 0.5rem auto;
  padding: 0.5rem 0.5rem 0.5rem 1.25rem;
  border-bottom: 1px solid #cfc8cf;
  border-radius: 5px;
  position: relative;
}

.expense-desc-value {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  background-color: #f9f9f9;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.desc-text {
  width: 60%;
  word-wrap: break-word;
  font-weight: 500;
}

.expense-date {
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  background-color: #f9f9f9;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.delete-btn {
  cursor: pointer;
  color: rgb(192, 11, 11);
  font-size: 1.25rem;
  position: absolute;
  top: 20px;
  left: -11px;
}

.no-expenses {
  text-align: center;
  font-size: 1rem;
  padding: 1.5rem;
}

.value-positive,
.value-negative {
  font-size: 1rem;
  font-weight: 500;
  color: rgb(18, 164, 18);
}

.value-negative {
  color: rgb(192, 11, 11);
}

.btn {
  padding: 0.5rem;
  font-size: 1.25rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-filter {
  font-size: 1rem;
  padding: 3px;
  margin-bottom: 0.75rem;
  width: 100%;
}

.btn-remove-filter {
  display: block;
  font-size: 1rem;
  padding: 0.25rem 3rem;
  margin: 0.5rem auto;
}

.btn-submit,
.expense-btn {
  width: 100%;
}

.expense-btn {
  font-size: 1rem;
  margin-top: 0.5rem;
}

.btn:hover,
.delete-btn:hover {
  opacity: 0.8;
}

.btn:active,
.delete-btn:active {
  transform: scale(0.98);
}

.spinner-container {
  width: 90%;
  margin: 10rem 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  font-size: 12.5rem;
  animation: spin 2s ease-in-out infinite;
}

.not-found {
  text-align: center;
  margin: 2.5rem auto;
}

.sad-face {
  font-size: 12rem;
  color: #cfc8cf;
}

.not-found h1 {
  color: #cfc8cf;
  font-size: 5rem;
  margin: 0;
}

.not-found h2 {
  font-size: 2rem;
}

.not-found p {
  margin: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
}

@keyframes spin {
  50% {
    color: #cfc8cf;
    transform: rotate(360deg) scale(0.75);
  }
}

@media only screen and (max-width: 560px) {
  html {
    font-size: 0.75rem;
  }

  body {
    font-size: 0.875rem;
  }

  .filter {
    flex-direction: column;
    margin-top: 0.25rem;
  }

  #year-filter,
  #month-filter {
    margin: 0.25rem;
  }

  .filter legend {
    margin-bottom: -0.5rem;
  }

  .filter-values {
    margin-top: 0.125rem;
  }

  .value-positive,
  .value-negative {
    word-break: break-all;
  }
}

/* Selector to only target firefox */
@-moz-document url-prefix() {
  fieldset {
    position: relative;
  }

  legend {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%); /* centered in responsive design*/
    font-size: 1rem;
    background-color: white;
  }

  @media only screen and (max-width: 560px) {
    .expense-fieldset {
      padding-top: 2rem;
    }
  }
}
